<h1>Subscribe for Financial Alerts</h1>
<!--<app-alert-registration></app-alert-registration>
<app-date></app-date>-->
<!--<app-address-card [user]="user"></app-address-card>-->
<p>Customer Number:<input type = "text" [(ngModel)]="customerId"></p>

<p>Contact Number:<input type = "text" [(ngModel)]="contactNumber"></p>
<p>Email-Id:<input type = "text" [(ngModel)]="emailId"></p>
<p>Mode of Communication (Enter 'Email' or 'SMS')<input type = "text" [(ngModel)]="emailId"></p>
<button (click)="submit()">Submit</button>



